@import './styles/theme';

.bb-app {
  position: relative;

  .notification-container {
    top: unset;
    bottom: 0;

    width: 100%;
    padding: 0;

    @include media-breakpoint-up(md) {
      position: absolute;

      top: 0;
      bottom: unset;

      width: 320px;
      padding: 0px 15px;
    }
  }
}
